# Database
DB_FILE_NAME=db.sqlite

# auth
BETTER_AUTH_SECRET=secretkey
BETTER_AUTH_URL=http://localhost:3000
ADMIN_NAME=admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin

# personal calendar
ICAL_URL=yourical
PERSONAL_ICAL_URL=yourical
